* {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
}
body {
	background-color: #090B1A;
}
h1, h2 {
	color: #FFFFFF;
}
span {
	color: #AA5CDB;
}
img {
	border-radius: 0 20px 20px 0;
}
.main {
	height: 100vh;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
}
.card {
	background-color: #1B1938;
	width: 350px;
	height: 600px;
	border-radius: 0 0 20px 20px;
}
.card-content {
	box-sizing: border-box;
	padding: 40px;
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.stats-container {

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.stats {
	font-weight: 700;
	text-transform: capitalize;
	margin: 20px 0;

}
.card-img {
	width: 350px;
	height: 256px;
	background-image: url(images/image-header-desktop.jpg);
	background-color: rgba(170, 92, 219, 1);
	background-blend-mode: multiply; 
	border-radius: 20px 20px 0 0;
}
@media only screen and (min-width: 480px) {
	.main {
		flex-direction: row;
		padding: 0;
	}
	.card {
		width: 500px;
		height: 446px;
		border-radius: 20px 0 0 20px;
	}
	.card-content {
		padding: 60px;
		text-align: left;
	}
	.stats {
		margin: 0;
	}
	.stats-container {
		flex-direction: row;
	}
	.card-img {
		width: 540px;
		height: 446px;
		border-radius: 0 20px 20px 0;
	}
}